<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TitanPlus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>594D8C251D87B8810017125B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>594D8C3E1D87B8820017125B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>594D8C491D87B8820017125B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
